@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #2564eb24;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2564eb8c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2563EB;
}